.list-wrapper
  min-width: 250px
  margin: 20px

  .list-name
    color: white
    padding: 10px 20px
    font-size: 15px
    margin: 0

  .list-group
    background-color: rgba(0, 0, 0, 0.3)
    width: 100%